- page_id 'duplicate_guardian'
- title 'Guardian already exists'

.content-block
  %p A guardian named #{@guardian.name} already exists

  = form_for [@student, @guardian] do |form|
    = form.hidden_field :first_name
    = form.hidden_field :last_name

    %ul
      - @duplicate_guardians.each_with_index do |guardian, index|
        %li
          %label
            = radio_button_tag 'use_duplicate', guardian.id, index == 0
            %strong #{@student.name} is a sibling of #{guardian.students_as_sentence}
            %br
            Use the same login and profile for the guardian.

      %li
        %label
          = radio_button_tag 'use_duplicate', 0
          - if @duplicate_guardians.length == 1
            %strong
              #{@student.name} is not a sibling of #{@duplicate_guardians.first.students_as_sentence}
            %br
            Create another guardian with the same name but a different profile.

          - else
            %strong
              #{@student.name} is not a sibling of
              = @duplicate_guardians.map{ |guardian| guardian.students_as_sentence }.join(" or ")
            %br
            Create another guardian with the same name but a different profile.

    = submit_tag "Continue", class: "button"