!!! 5
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Dear #{@profile.name},

    %p
      You have been added to
      = Rails.configuration.settings['app_full_name']
      as a
      = @profile.class.to_s.downcase
      of the school. This online application is meant to facilitate communication between teachers, students and guardians.

    %p
      Please log in with your email address
      = @profile.email
      %br
      Your password is temporarily '#{@password}'. You will need to change the password once you log in.

    %p Thank you!

    %p= link_to Rails.configuration.settings['app_full_name'], root_url