= semantic_form_for [comment.post, comment] do |form|
  = form.inputs do
    = form.input :content, label: 'Enter comment'
  = form.actions do
    = form.action :submit, button_html: { class: :button }