%article.profile
  %h3= profile.full_name
  - if profile.is_a? Teacher
    %p.type (Teacher)

  - if can? :administrate, profile
    %ul.manage
      - if profile.active?
        %li= link_to "Reset password",
          reset_profile_path(profile),
          method: :post,
          confirm: "Are you sure you want to reset the password for this user? A randomly generated password will be emailed to the user."
      - else
        %li= link_to "Activate user",
          reset_profile_path(profile),
          method: :post,
          confirm: "Are you sure you want to activate this user? A randomly generated password will be emailed to the user."

      %li= link_to "Delete user",
        profile,
        method: :delete,
        confim: "Are you sure you want to delete this user? Anything created by the user will be lost. You can archive the user if they are inactive but you want to keep all their data."


  - profile.class.fields.each do |field|
    = render 'shared/profile_field', field_data: field, field_value: profile.send(field[:function])

  - if can? :update, profile
    = link_to "Edit profile", edit_profile_path(profile)

  - if profile.is_a? Student
    .guardians
      - profile.guardians.each do |guardian|
        = render "shared/guardian", guardian: guardian, student: profile