- page_id 'people'
- title "People"

= link_to "Add group", new_group_path
= link_to "Add teacher", new_teacher_path
= link_to "Add student", new_student_path

- if @profiles.present?
  - @profiles.each do |profile|
    = render "shared/profile/profile", profile: profile
    
- else
  .content-block 
    %p= @empty_message || "No profiles found."