- page_id 'people'
- title "People"

- if can? :create, Group
  = link_to "Add group", new_group_path

- if can? :create, Teacher
  = link_to "Add teacher", new_teacher_path
- if can? :create, Student
  = link_to "Add student", new_student_path

- if @profiles.present?
  - @profiles.each do |profile|
    = render "shared/profile/profile", profile: profile
    
- else
  .content-block 
    %p= @empty_message || "No profiles found."

- if @people
  = paginate @people
- else
  = paginate @profiles