= form_tag people_filter_path(@filter), method: :get, id: 'filter-form' do
  = text_field_tag 'search', params['search'], placeholder: "Enter search term"

= render "upper-bar/add-menu"

%p.label Viewing

.viewing.menu
  %p.title= people_filter_name(@filter)

  %ul
    = people_filter_menu_item("all", @filter)
    = people_filter_menu_item("students", @filter)
    = people_filter_menu_item("teachers", @filter)
    - if current_profile.is_a? Teacher
      = people_filter_menu_item("mentees", @filter)
    = people_filter_menu_item("archived", @filter)

    - if Group.count > 0
      %li.divider
      
      - Group.alphabetical.each do |group|
        = people_filter_menu_item(group, @filter)