-# Include redactor files
- content_for :head do
  = javascript_include_tag "tinymce/main"


= semantic_form_for post do |form|
  
  = form.inputs nil, class: :main do
    = form.input :title, placeholder: 'Title'
    = form.input :content
    = form.input :tag_names, label: 'Tags', placeholder: 'Tags'
  
  = form.inputs nil, class: :tags do
    = form.input :students, 
      label: 'Student tags',
      collection: Student.current.alphabetical,
      member_label: :name,
      input_html: { size: 6 }

    = form.input :teachers, 
      label: 'Teacher tags',
      collection: Teacher.current.alphabetical,
      member_label: :name,
      input_html: { size: 6 }

  - if post.author.is_a? Teacher
    - obs_class = post.student_observations.present? ? "student-observations" : "student-observations empty"
    = form.inputs nil, class: obs_class do
      %p Individual student observations
      - index = 0
      = form.semantic_fields_for :student_observations do |obs_form|
        - student = obs_form.object.student
        .fields{ "data-name" => student.name, "data-id" => student.id, "data-index" => index }
          = obs_form.input :id, as: :hidden
          = obs_form.input :student_id, as: :hidden
          = obs_form.input :content, label: "Observations for #{student.name}"

        - index += 1

  - unless post.author.is_a? Student
    = form.inputs nil, class: :permissions do
      %p 
        %strong Permissions:
        Visible to&hellip;
      .options
        - unless post.author.is_a? Guardian
          = form.input :visible_to_guardians, label: 'Guardians'
        = form.input :visible_to_students, label: 'Students'

  = form.actions do
    = form.action :submit, button_html: { class: [:submit, :button] }
    - unless post.new_record?
      = link_to "Delete post", 
        post, 
        method: :delete, 
        confirm: "Are you sure you want to delete this post?",
        class: "delete-link"