= semantic_form_for post do |form|
  
  = form.inputs nil, class: :main do
    = form.input :title, placeholder: 'Title'
    = form.input :content
    = form.input :tag_names, label: 'Tags', placeholder: 'Tags'
  
  = form.inputs nil, class: :tags do
    = form.input :students, 
      label: 'Student tags',
      collection: Student.current.alphabetical,
      member_label: :full_name,
      input_html: { size: 6 }

    = form.input :teachers, 
      label: 'Teacher tags',
      collection: Teacher.current.alphabetical,
      member_label: :full_name,
      input_html: { size: 6 }

  - if post.author.is_a? Teacher
    = form.inputs nil, class: :"student-observations" do
      = form.semantic_fields_for :student_observations do |obs_form|
        = obs_form.input :id, as: :hidden
        = obs_form.input :student_id, as: :hidden
        = obs_form.input :content, 
          label: "Observations for #{obs_form.object.student.name}",
          placeholder: "Observations for #{obs_form.object.student.name}"

  - unless post.author.is_a? Student
    = form.inputs nil, class: :permissions do
      %p 
        %strong Permissions:
        Visible to&hellip;
      .options
        - unless post.author.is_a? Guardian
          = form.input :visible_to_guardians, label: 'Guardians'
        = form.input :visible_to_students, label: 'Students'

  = form.actions do
    = form.action :submit, button_html: { class: [:submit, :button] }
    - unless post.new_record?
      = link_to "Delete post", 
        post, 
        method: :delete, 
        confirm: "Are you sure you want to delete this post?",
        class: "delete-link"