%article.post
  %header.tagged-people
    - if post.students.present?
      .students
        %h4 Students
        %ul
          - post.students.alphabetical.each do |student|
            %li= student.first_name

    - if post.teachers.present?
      .teachers
        %h4 Teachers
        %ul
          - post.teachers.alphabetical.each do |teacher|
            %li= teacher.first_name
  
  %h3= post.title

  .content
    != post.content

  - if post.comments.present?
    .comments
      %h4 Comments
      - post.comments.each do |comment|
        = render "comments/comment", comment: comment

  .add-comment
    = render "comments/fields", comment: post.comments.build

  %footer
    .info
      %p.date= post.formatted_created_at
      %p.author Posted by #{post.author_name}
      - if post.tags.present?
        %p.tags Tags: #{post.tag_names}

    .options
      %p= link_to "Edit post", edit_post_path(post)

