%article.post
  %header.tagged-people
    - if post.students.present?
      .students
        %h4 Students
        %ul
          - post.students.alphabetical.each do |student|
            %li= profile_name(student)

    - if post.teachers.present?
      .teachers
        %h4 Teachers
        %ul
          - post.teachers.alphabetical.each do |teacher|
            %li= profile_name(teacher)
  
  %h3= post.title

  .post-content
    != post.content

  - if post.student_observations.present?
    .student-observations
      - post.student_observations.each do |obs|
        %section
          %h4= obs.student.name
          .observation-content
            != obs.content
  
  - if post.comments.present?
    .comments
      %h4 Comments
      - post.comments.each do |comment|
        = render "comments/comment", comment: comment

  .comment-fields
    = render "comments/fields", comment: post.comments.build

  %footer.post-footer
    .info
      %p.date= post.formatted_created_at
      %p.author 
        Posted by 
        = profile_name(post.author, true)
      
      - if post.tags.present?
        %p.tags Tags: #{post.tag_names}

    .options
      - if can? :update, post
        %p= link_to "Edit post", edit_post_path(post)
