- title "Create a post"
%h2 Create a post

= semantic_form_for @post do |form|
  
  = form.inputs do
    = form.input :title
    = form.input :content
    = form.input :tag_names, label: 'Tags'
  
  = form.inputs do
    = form.input :students, label: 'Student tags', member_label: :name
    = form.input :teachers, label: 'Teacher tags', member_label: :name

  = form.inputs "Permissions" do
    = form.input :visible_to_guardians, label: 'Guardians'
    = form.input :visible_to_students, label: 'Students'

  = form.actions do
    = form.action :submit, label: 'Create post'
