.ng-view-container
  %h2 {{pageTitle}}

  .notice

  %section#upper-bar
    %ng-switch{ "on"=>"!profile" }
      .people-filters{ "ng-switch-when" => "true", "ng-include"=>"'#{asset_path('people_filters.html')}'" }
    .clear-left

  %ng-switch{ "ng-repeat"=>"person in people", "on"=>"!!(isTeacher || person.editable)", "ng-animate"=>"'profile-fade'" }
    %div{ "ng-switch-when"=>"true", "ng-include"=>"'#{asset_path('editable_profile.html')}'" }
    %div{ "ng-switch-when"=>"false", "ng-include"=>"'#{asset_path('non_editable_profile.html')}'" }

  .content-block{ "ng-show"=>"(people | filterDeleted).length == 0" }
    %p No matching people were found.

  %pagination{ "total-pages"=>"totalPages", "current-page"=>"currentPage" }

  %ng-switch{ "on"=>"!!isTeacher" }
    %div{ "ng-switch-when"=>"true", "ng-include"=>"'#{asset_path('manage_groups.html')}'" }
    %div{ "ng-switch-when"=>"true", "ng-controller"=>"DuplicateGuardiansCtrl", "ng-include"=>"'#{asset_path('guardian_duplicates.html')}'" }