%h4 Groups
%ul
  - if student.groups.present?
    - student.groups.alphabetical.each do |group|
      %li
        = group.name
        - if can? :administrate, student
          = link_to "Remove", remove_group_from_student_path(student, group_id: group.id), method: :post
  - else
    %li None

- if (can? :administrate, student) && (student.remaining_groups.present?)
  = form_tag add_group_to_student_path(student), method: :post do
    = label_tag :group_id, 'Remaining groups'
    = select_tag :group_id, options_from_collection_for_select(student.remaining_groups.alphabetical, :id, :name)
    = submit_tag "Add group"