%h4 Mentors
%ul
  - if student.mentors.present?
    - student.mentors.alphabetical.each do |mentor|
      %li
        = profile_name( mentor )
        - if can? :administrate, student
          = link_to "Remove", remove_mentor_from_student_path(student, teacher_id: mentor.id), method: :post
  - else
    %li None

- if (can? :administrate, student) && (student.remaining_teachers.present?)
  = form_tag add_mentor_to_student_path(student), method: :post do
    = label_tag :teacher_id, 'Remaining teachers'
    = select_tag :teacher_id, options_from_collection_for_select(student.remaining_teachers.alphabetical, :id, :full_name)
    = submit_tag "Add mentor"