%article{ class: profile.archived? ? ["profile", "archived"] : "profile" }
  %h3= profile.full_name
  - if profile.is_a? Teacher
    %p.type (Teacher)

  - if can? :administrate, profile
    = render 'shared/profile/administrate_menu', profile: profile

  - profile.class.fields.each do |field|
    = render 'shared/profile/field', field_data: field, field_value: profile.send(field[:function])

  - if can? :update, profile
    = link_to "Edit profile", edit_profile_path(profile)

  - if profile.is_a? Student
    .guardians
      - profile.guardians.each do |guardian|
        = render "shared/profile/guardian", guardian: guardian, student: profile

    .groups
      = render "shared/profile/groups", student: profile

    .mentors
      = render "shared/profile/mentors", student: profile

  - if profile.is_a? Teacher
    .mentees
      = render "shared/profile/mentees", teacher: profile