!!! 5
%html{ "ng-app"=>"journals" }
  %head
    %title= Rails.configuration.settings['app_full_name']
    %link{ rel: "shortcut icon", href: "/favicon.ico?v=1" }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "angular"
    - unless Rails.env.test?
      \<script type="text/javascript" src="//use.typekit.net/fgp2slt.js"></script>
      \<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    = csrf_meta_tags

  %body
    %header#page-header
      .wrapper
        %h1= link_to Rails.configuration.settings['app_full_name'], root_path
        .user= render "general/user_menu"

    .wrapper
      %navigation#page-navigation= render "general/navigation"

      #main-content
        .ng-view

    #notifications{ "ng-controller"=>"messageCtrl", "ng-show"=>"show" }
      %p{ "ng-class"=>"message.type" } {{message.text}}