!!! 5
%html{ "ng-app"=>"journals" }
  %head
    %title= Rails.configuration.settings['app_full_name']
    %link{ rel: "shortcut icon", href: "/favicon.ico?v=1" }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "angular"
    - unless Rails.env.test?
      \<script type="text/javascript" src="//use.typekit.net/fgp2slt.js"></script>
      \<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    = csrf_meta_tags

    %base{ href: "/" }

  %body
    #page-wrapper
      %header#page-header
        .wrapper
          %h1= link_to Rails.configuration.settings['app_full_name'], root_path
          #user= render "general/user_menu"

      .wrapper
        %navigation#page-navigation= render "general/navigation"

        #main-content{ "pad-height"=>true }
          .ng-view{ "ng-animate"=>"'view-fade'" }

      %div{ "ng-include"=>"'#{asset_path('change_password.html')}'" }

      #notifications{ "ng-controller"=>"messageCtrl", "ng-class"=>"{shown: show}" }
        %p{ "ng-class"=>"message.type" } {{message.text}}

      #framework{ "ng-controller"=>"FrameworkCtrl", "ng-show"=>"mode", "ng-animate"=>"'fade'" }
        %ng-switch{ "on"=>"mode" }
          %div{ "ng-switch-when"=>"edit", "ng-include"=>"'#{asset_path('edit_framework.html')}'" }
          %div{ "ng-switch-when"=>"show", "ng-include"=>"'#{asset_path('show_framework.html')}'" }

      %footer#credit
        .arrow
        %a{ "href"=>"http://kairi.in", "target"=>"_blank" }
          %p
            Design:
            %span.person Shalini Sekhar
            %br
            Development:
            %span.person Rahul Sekhar
