!!! 5
%html
  %head
    %title= page_title
    = stylesheet_link_tag    "screen", media: "all"
    = javascript_include_tag "application"
    \<script type="text/javascript" src="//use.typekit.net/fgp2slt.js"></script>
    \<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    = csrf_meta_tags


  %body{id: content_for(:page_id)}
    %header#page-header
      .wrapper
        %h1 Journals Demo
      
        - if logged_in?
          .user
            %p You are signed in as #{current_profile.full_name}
            .menu
              %ul
                %li= link_to "Your profile", '#'
                %li= link_to "Log out", logout_path

    .wrapper
      - if logged_in?
        %navigation#page-navigation
          %ul
            %li= link_to "View posts", posts_path
            %li= link_to "New post", new_post_path

      #main-content
        %h2= content_for :heading

        %section#upper-bar
          .notice
          - if flash[:alert]
            %p.error= flash[:alert]
            
          - if flash[:notice]
            %p= flash[:notice]

        = yield