!!! 5
%html
  %head
    %title= page_title
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %h1 Journals Demo

    - if flash[:alert]
      %p= flash[:alert]

    - if flash[:notice]
      %p= flash[:notice]

    - if logged_in?
      %p You are signed in as #{current_profile.full_name}
      %ul
        %li= link_to "Logout", logout_path

    = yield